@media screen and (max-width:1300px) {
    .secPricipal{
       margin: 0 auto !important;
    }
    #container-2{
       margin: 20px;
    }
    #plainInput-1{
        width: 500px;
    }
    #container-3{
        margin: 0;
    }
}
@media screen and (max-width:1024px) {
    #container-2{
        margin: 10px auto;
        height: 700px;
    }
    #container-3{
        margin: 10px auto;
    }
    #encrypt-btn{
        width: 250px;
    }
    #copyToClipBoard{
        width: 250px;
    }
    .secFooter{
        margin-top: 690px;
    }
}
@media screen and (max-width:920px) {
    #container-2{
        margin: 10px auto;
        height: 700px;
    }
    #container-3{
        margin: 10px auto;
    }
    #encrypt-btn{
        width: 250px;
    }
    #copyToClipBoard{
        width: 250px;
    }
    .secFooter{
        margin-top: 690px;
    }
}
@media screen and (max-width:768px) {
    #container-2{
        margin: 10px auto;
        height: 700px;
    }
    #container-3{
        margin: 10px auto;
    }
    #encrypt-btn{
        width: 250px;
    }
    #copyToClipBoard{
        width: 250px;
    }
    .secFooter{
        margin-top: 690px;
    }
}

@media screen and (max-width:414px) {
    #container-2{
        margin: 10px auto;
        height: 700px;
        width: 350px;

    }
    #encryptedInput-1{
        width: 340px;
        margin: 0;
        text-align: center !important;
    }
    #plainInput-1{
        width: 340px;
    }
    #container-3{
        margin: auto !important;
        width: 340px;
    }
    .ultexto {
        /* left: 300; */
        
        /* margin-top: 100px; */
        /* margin: 100px auto; */
        padding: 100px 300px 20px 0;
    }
    #imagemboy{
        width: 300px;
        /* padding: 20px; */
        /* padding-right: 80px; */
        
    }
    #limparTela .ultexto{
        /* width: 100px; */
        /* margin: 100px 20px; */
        
    }
    #texth1{
        font-size: 20px;
        /* padding-right: 80px; */
    }
    #texth2{
        font-size: 15px;
        text-align: center;
        /* padding-right: 80px; */
    }
    #encrypt-btn{
        width: 150px;
        height: 55px;
    }
    #copyToClipBoard{
        width: 150px;
        height: 55px;
    }
    .secFooter{
        margin-top: 700px;
        
        
    }
    .footer{
     width: auto;
        align-items: center;
     
    }
    .footerItens{
        margin:  0 auto;
        width: 350px;
    }
}